* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: .5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    height: 20px;
    background-color: #2e498e;
    padding: 10px;
    box-shadow: 4px 4px 15px 4px rgb(67, 67, 67);
    z-index: 2;
}

#hamburger {
    position: absolute;
    top: 5px;
    left: 5px;
}
#logo {
    position: absolute;
    top: -5px;
    right: 25px;
}

#menupanel {
    background-color: #2e498e;
    width: 30%;
    height: 300px;
    z-index: 5;
    position: absolute;
    top: 25px;
    left: 0px;
    display: none;
}

nav a:visited, 
nav a:link {
    color: #ffffff;
    text-decoration: none;
}

nav > ul {
    display: block;
    padding: 0;
    margin-top: 50px;
}

nav > ul >li {
    display: block;
    list-style: none;
    font-weight: 100;
    margin: 20px 15px 0 25px;
}

main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
    font-size: 1em;
}

h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
    color:#ffffff;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: 3px;
}
h3 {
    font-size: 2em;
    margin-top: .5em;
    text-align: center;
}
h4 {
    padding-top: 14px;
    font-weight: bold;
    font-size: 1.2em;
}

hr {
    width: 90%;
    margin-top: 1em;
    margin-left: 5%;
}

#banner-img {
    position: relative;
    text-align: center;
    color: white;
    width: 100%
}

#home_content {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
/* trips */

.adventures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    padding: 0;
    margin: 0;
  }

.trip {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 15px;
    width: 80%;
    margin-top: 10px;
}


.trip .title {
    font-size: 1.8em;
    padding-bottom: 15px;
    font-weight: 100;
    color:#01510f;
    text-decoration: underline;
}
.trip .date {
    font-size: 1.1em;
    padding-top: 10px;
}

.trip .desc {
    margin-right: 10px;
    width: 100%;
}




@media only screen and (max-width: 799px) {
    main {
       font-size: .7em;
    }
  h1 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 2.7em;
    }
    .trip {
        width: 40%;
    }
    #banner-img {
        width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}




